<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>

<body>
    <footer>
        <p>Made with &#10084;&#65039; By <a href="https://github.com/Abdullah-albagshi">Abdullah Albagshi</a></p>
    </footer>

</body>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</html>