footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #393e46;
    color: #e3fdfd;
    font-size: 1.5rem;
}