@import 'resets';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'configs';
@import 'header';
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

@import 'footer';