@import 'resets';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'configs';
@import 'header';
@import 'container';
body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #e3fdfd;
    overflow-x: hidden;
}

@import 'footer';
@import 'mobile';

